@font-face {
  font-family: 'roboto-thin';
  src: url('./styles/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'roboto-light';
  src: url('./styles/Roboto/Roboto-Light.ttf')
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'roboto-thin';
}

.app-hero {
  padding: 7% 2%;
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: .3em 0;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 22px;
    }
  }
}

.app-body {
  height: 800px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  .left-block {
    width: 23%;
    background-color: #2e2e2e;
    height: 100%;
  }
  .body-content {
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .signin-form {
      width: 50%;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #d6d6d6;
      padding: 1.5em;
      .input-field {
        display: flex;
        flex-direction: column;
        margin: 1.5em auto;
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 5% 2% 1%;
  background-color: #7fffd4;
  .about-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    li {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em;
      @media screen and (min-width: 768px) {
        width: 30%;
      }
      h3 {
        text-align: center;
        font-family: 'roboto-thin';
        margin-bottom: 1em;
      }
      p, address {
        text-align: center;
      }
      a {
        text-decoration: none;
        font-family: 'roboto-light';
      }
    }
  }

}